<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://w.soundcloud.com/player/api.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
  $( function() {
    $( ".draggable" ).draggable();
  } );
  </script>

  <script>
   $(document).ready(function() {
     var widget = SC.Widget(document.getElementById('soundcloud_widget'));
     widget.bind(SC.Widget.Events.READY, function() {
       console.log('Ready...');
     });
     $('button').click(function() {
       widget.toggle();
     });
   });
  </script>





</head>
<body>



  <div class="navbar-wagon" style="display:flex; flex-direction: row;">


                  <div style="padding-left:0px; ">

                     <div style="padding-left:10px; font-size:30px; color:white;">Isabella</div>


                    </div>





         <div style="padding-left:7vw; padding-top:10px; text-align: center; justify-content: center;">
          <button  style="color:#0056b3; border-color:#0056b3; background-color:black;"><div class="draggable"> Listen </div></button>
         </div>
         <div><time datetime='Time.now'></time></div>
      </div>



<div class="container-fluid" style="padding-right:10px;">


<div class="draggable">
  <% @events.each do |event| %>
  <div class="col-10">
    <div  class="row boxy">
      <div class="col-xs-2 col-sm-3"><%= event.date %></div>
      <div class="col-xs-3 col-sm-5" style="display:flex; flex-direction: row; align-items: center;"><%= event.name %></div>
      <div class="col-xs-2 col-sm-2 " style="display:flex; flex-direction: row; align-items: : center;"><%= event.location %></div>
    <!--   <div class="col-xs-2 col-sm-1"><%= event.note %></div> -->

    </div>
  </div>

  <%end%>

</div>
<!--
<div>
  <% @events.each do |event| %>
<div   class="col-2" style="display:flex; flex-direction: row; justify-content: flex-end; cursor: zoom-in;"><img   src = '<%= event.image %>' style= "width: 100%; height: 100%;" alt="">

      </div>
    <%end%>

</div>
 -->


</div>

<div class="container-fluid" style="margin:0px">
  <div class="row">
  <div class="col-xs-12 col-sm-9" style="height:300px;"">
  <div class="draggable" style="padding-left:10px;">
          <pre style="font: 4px/2px monospace; color:purple;">                      :.`
                     ;;;;  ;;:
                    ;;;:``;;;;;
                  `;;;:;;;;;;;:
                 ,;;;;;;;;;;;:
                :;;;;;;;;;;;:
               ;;;;;:;;;;;;:
              ;;;;;;;;;;;;:
             ;;;;;;;;;;;;;
            ;;;;;;;;;;;;;
           ;;;;;;;;;;;;;
          :;;;;;;;;;;;;
         `;;;;;;;;;;;;
         ;;;;;;;;;;;;`
        ;;;;;;;;;;;;;
       `;;;;;;;;;;;;
       ;;;;;;;;;;;;.
      `;;;;;;';;;;;
      ;;;;;;;';;;;,
      ;;;;;;+;;;;;
     ;;;;;;;';;;;;
     ;;;;;;';;;;;,
    :;;;;;;';;;;;`
    ;;;;;;';;;;;;                                                `,:;;;;;;;;;;;;::::;;;;;;;;
    ;;;;;;+;;;;;;`                                       `,:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
   `;;;;;;';;;;;;:+;                                  .;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
   :;;;;;';;;;;;;:+++++++`...,,,::;;;'++++++++++++'''';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
   ;;;;;;+;;;;;;;;'++++++++++'''''++++##++++++++++++.:,,:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
   ;;;;;;;;;;;;;;;;;:''':;++++++++++++++++++++++++++#....;;;;;;;;;;;;;;;;;;';;;;';';';';'';;;;
   ;;;;;';;;;;;;;;;;;;:``````#++++++++++++++++++++++#....;;;;;;;;;;;;';;;;;;';';';';';';;;';;;
  ,;;;;;+;;;;;;;;;;;;;:`..```#++++++++++++++++++++++#....;;;;;;;;;;;;';;;;':';';';';;;;;;;';;;
  ;;;;;;';;;;;;;;;;;;;;`..```#++++++++++++++++++++++`...,;;;;;;;;;;;;';;;;':';';';';';';';;;;;
  ;;;;;;;;;;;;;;;;;;;;;``````++++++++++++++++++++++#....;;;;;;;;;;;;';;;;;';';';';';';';';;;;
  ;;;;;;;;;;;;;;;;;;;;;;;:::##########@#++';;:,,..`   ;;;;;;;;;;;;;;;;;;;;;;;;;';';';';';;;;:
  ;;;;;;;;;;;;;;;;;;;;;::                                  ``.,:;;;;;;;:,.`` ` `        .;;
  ;;;;;';;;;;;;;;;;;;.
  ;;;;;';;;;;;;;;;;,
  ;;;;;+;;;;;;;;;:
  ,;;;;';;;;;;;;;
   ;;;;;;;;;;;;;
   ,;;;:;;;;;;;
    ;;;;;;;;;;:
    ;;;;;;';;;
    :;;;;;;;;;
    ;;;;;;;;;:
    ;;;;;;;.:
    ;;.'''``;
   ;;;:'''``;
  ;;;;''''``;,
 ,;;;,''''``;;
 ;;;;;''''``:;
 ;;;:'''''```;
 ;;;.::;'',,:;
`;;:`:;;;;;::;
,;;:`:;;;;;,:;
:;;,.;;;;;;,::
 ;;.,;;;;;:.:.
  ;.:;;;;;:.:
   :;;;;;;:,.
       ```
</pre>
  2017
      </div>
  </div >
  <div class="col-xs-12 col-sm-3 draggable"  style="border-radius:3px; height:325px; width:325px; padding-left:10px; padding-right:10px; padding-bottom:0px; padding-top:10px; background-color:#666666">
 <iframe id="soundcloud_widget" width="100%" height="300" scrolling="yes" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/9086934&amp;color=000000&amp;theme_color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;show_playcount=false"></iframe>
  </div>
  </div>
</div>

