<!DOCTYPE html>
<html>
  <head>
    <title>Auricle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:black; color: #999999; font-size: 14px; font-family: courier new">

      <div class="navbar-wagon" style="display:flex; flex-direction: row;">

<!--
       <a href="/" class="navbar-wagon-brand">
        <img src="https://i.imgur.com/KtlUlik.png" alt="logo" style="height:30px;"> </a> -->

                  <div style="padding-left:0px; ">

                     <div style="padding-left:10px; font-size:30px; color:white;">Isabella</div>
                  <!--          ;;;;  ;;:
                          ;;;:``;;;;;
                        `;;;:;;;;;;;:
                       ,;;;;;;;;;;;:
                      :;;;;;;;;;;;:
                     ;;;;;:;;;;;;:
                    ;;;;;;;;;;;;:
                   ;;;;;;;;;;;;;
                  ;;;;;;;;;;;;;
                 ;;;;;;;;;;;;;
                :;;;;;;;;;;;;
               `;;;;;;;;;;;;
               ;;;;;;;;;;;;`
              ;;;;;;;;;;;;;
             `;;;;;;;;;;;;
             ;;;;;;;;;;;;.
            `;;;;;;';;;;;
            ;;;;;;;';;;;,
            ;;;;;;+;;;;;
           ;;;;;;;';;;;;
           ;;;;;;';;;;;,
          :;;;;;;';;;;;`
          ;;;;;;';;;;;;                                                `,:;;;;;;;;;;;;::::;;;;;;;;
          ;;;;;;+;;;;;;`                                       `,:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
         `;;;;;;';;;;;;:+;                                  .;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
         :;;;;;';;;;;;;:+++++++`...,,,::;;;'++++++++++++'''';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
         ;;;;;;+;;;;;;;;'++++++++++'''''++++##++++++++++++.:,,:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
         ;;;;;;;;;;;;;;;;;:''':;++++++++++++++++++++++++++#....;;;;;;;;;;;;;;;;;;';;;;';';';';'';;;;
         ;;;;;';;;;;;;;;;;;;:``````#++++++++++++++++++++++#....;;;;;;;;;;;;';;;;;;';';';';';';;;';;;
        ,;;;;;+;;;;;;;;;;;;;:`..```#++++++++++++++++++++++#....;;;;;;;;;;;;';;;;':';';';';;;;;;;';;;
        ;;;;;;';;;;;;;;;;;;;;`..```#++++++++++++++++++++++`...,;;;;;;;;;;;;';;;;':';';';';';';';;;;;
        ;;;;;;;;;;;;;;;;;;;;;``````++++++++++++++++++++++#....;;;;;;;;;;;;';;;;;';';';';';';';';;;;
        ;;;;;;;;;;;;;;;;;;;;;;;:::##########@#++';;:,,..`   ;;;;;;;;;;;;;;;;;;;;;;;;;';';';';';;;;:
        ;;;;;;;;;;;;;;;;;;;;;::                                  ``.,:;;;;;;;:,.`` ` `        .;;
        ;;;;;';;;;;;;;;;;;;.
        ;;;;;';;;;;;;;;;;,
        ;;;;;+;;;;;;;;;:
        ,;;;;';;;;;;;;;
         ;;;;;;;;;;;;;
         ,;;;:;;;;;;;
          ;;;;;;;;;;:
          ;;;;;;';;;
          :;;;;;;;;;
          ;;;;;;;;;:
          ;;;;;;;.:
          ;;.'''``;
         ;;;:'''``;
        ;;;;''''``;,
       ,;;;,''''``;;
       ;;;;;''''``:;
       ;;;:'''''```;
       ;;;.::;'',,:;
      `;;:`:;;;;;::;
      ,;;:`:;;;;;,:;
      :;;,.;;;;;;,::
       ;;.,;;;;;:.:.
        ;.:;;;;;:.:
         :;;;;;;:,.
             ``` -->

              </pre>

                    </div>





         <div style="padding-left:96px; padding-top:10px; text-align: center; justify-content: center;">
          <a class="navbar-wagon-item" href="/pages/home">Calendar</a>
          <a class="navbar-wagon-item" href="/pages/mixes">Mixes</a>
          <a class="navbar-wagon-item" href="/pages/releases">Releases</a>
           <a class="navbar-wagon-item" href="/pages/about">About</a>
         </div>
         <div><time datetime='Time.now'></time></div>
      </div>

          <%= javascript_include_tag 'application' %>

    <%= yield %>
  </body>
</html>
