<!DOCTYPE html>
<html>
  <head>
    <title>Auricle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://w.soundcloud.com/player/api.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  </head>

  <body style="background-color:black; color: #999999; font-size: 14px; font-family: courier new">



          <%= javascript_include_tag 'application' %>

    <%= yield %>
  </body>
</html>
