<!DOCTYPE html>
<html>
  <head>
    <title>Isabella</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body id="bluescreen" style="background-color: #040e86; color: #999999; font-size: .8em; font-family: 'Press Start 2P', monospace;">



          <%= javascript_include_tag 'application' %>

    <%= yield %>
  </body>
</html>
